ytd-app {
	background: url(https://i.imgur.com/3AiL3yN.png);
  background-size: cover !important;
  background-attachment: fixed !important;
}
:root {
	--yt-app-background: transparent !important;
	--yt-main-app-background: transparent !important;
	--yt-guide-background: transparent !important;
	--yt-sidebar-background: transparent !important;
	--yt-dialog-background: transparent;
	--yt-searchbox-background: transparent;
	--yt-channel-header-background: transparent;
}
#masthead {
    --yt-swatch-primary: transparent !important;
}
ytd-video-masthead-ad-renderer {
    display: none;
}
