/*Background*/
ytd-app {
	background: url(https://i.imgur.com/3AiL3yN.png);
  background-size: cover !important;
  background-attachment: fixed !important;
}

/*Font*/
html {
	font-family: var(--font) !important;
}

@import url(https://fonts.googleapis.com/css?family=Product+Sans:300,400,500,600,700);

/*Theme variables*/
:root {
	--roundness: 10px;
	--font: 'Product Sans';
	--transparency: rgba(0,0,0,0.6);
	--transparency-dark: rgba(0,0,0,0.7);
	--transparency-darker: rgba(0,0,0,0.8);
	--transparency-darkest: rgba(0,0,0,0.9);
	--transparency-lite: rgba(255,255,255,0.6);
	--transparency-light: rgba(255,255,255,0.7);
	--transparency-lighter: rgba(255,255,255,0.8);
	--transparency-lightest: rgba(255,255,255,0.9);
}
/*YouTube's Variables*/
:root {
	--yt-app-background: transparent !important;
	--yt-main-app-background: transparent !important;
	--yt-guide-background: transparent !important;
	--yt-sidebar-background: transparent !important;
	--yt-dialog-background: transparent;
	--yt-searchbox-background: transparent;
	--yt-channel-header-background: transparent;
}

/*Header*/
#masthead {
    --yt-swatch-primary: transparent !important;
}
/*Search bar*/
#search-icon-legacy.ytd-searchbox {
    border-radius: var(--roundness) !important;
    border: none;
    margin-left: 10px;
}
ytd-searchbox[mode=legacy] #container.ytd-searchbox, ytd-searchbox[mode=legacy-centered] #container.ytd-searchbox {
    border: none !important;
}

/*Homepage*/
ytd-two-column-browse-results-renderer.ytd-browse {
    background: var(--transparency);
    border-radius: var(--roundness);
    padding: 20px;
    padding-top: 0px;
}
/*Ads*/
.ytvmh-embed-0 {
    background-color: transparent !important;
}
#ad-iframe {
    padding: 20px;
    border-radius: var(--roundness);
}
iframe { border-radius: var(--roundness); }
/*Roundness*/
#thumbnail, yt-img-shadow, paper-button, #container.ytd-searchbox {
    border-radius: var(--roundness) !important;
}
