@import url(https://fonts.googleapis.com/css?family=Product+Sans:400,500);

/*Background*/
ytd-app {
	background: var(--background) !important;
	background-size: cover !important;
	background-attachment: fixed !important;
}

/*Font*/
html, textarea, paper-button, #placeholder {
	font-family: var(--font) !important;
}

/*iframes*/
iframe {
	border-radius: var(--roundness);
}
#ad-iframe {
	padding: 20px;
	border-radius: var(--roundness);
	background-color: var(--transparency);
	margin-bottom: 20px;
}

/*Theme variables*/
:root {
	--font:'Product Sans';
	--background: url(https://i.imgur.com/3AiL3yN.png);
	--roundness: 10px;
	--accent-color: rgb(135,31,96);
	--transparency: rgba(0, 0, 0, 0.6);
	--transparency-dark: rgba(0, 0, 0, 0.7);
	--transparency-darker: rgba(0, 0, 0, 0.8);
	--transparency-darkest: rgba(0, 0, 0, 0.9);
	--transparency-lite: rgba(255, 255, 255, 0.6);
	--transparency-light: rgba(255, 255, 255, 0.7);
	--transparency-lighter: rgba(255, 255, 255, 0.8);
	--transparency-lightest: rgba(255, 255, 255, 0.9);
}

/*YouTube's Variables*/
:root {
	--yt-app-background: transparent !important;
	--yt-main-app-background: transparent !important;
	--yt-main-app-background-tmp: transparent !important;
	--yt-guide-background: transparent !important;
	--yt-sidebar-background: transparent !important;
	--yt-dialog-background: transparent;
	--yt-searchbox-background: transparent;
	--yt-channel-header-background: transparent;
}

/*Header*/
#masthead {
	--yt-swatch-primary: transparent !important;
}
#country-code.ytd-topbar-logo-renderer {
	display: none;
}

/*Search bar*/
#search-icon-legacy.ytd-searchbox {
	border-radius: var(--roundness) !important;
	border: none;
	margin-left: 10px;
}
ytd-searchbox[mode=legacy] #container.ytd-searchbox,
ytd-searchbox[mode=legacy-centered] #container.ytd-searchbox {
	border: none !important;
}

/*Sidebar menu*/
#sections, #footer {
	margin-right: 10px;
	background-color: var(--transparency);
	border-radius: var(--roundness);
}

/*Homepage*/
ytd-two-column-browse-results-renderer.ytd-browse {
	background: var(--transparency);
	border-radius: var(--roundness);
	padding: 20px;
	padding-top: 0;
}
#thumbnail, yt-img-shadow, #container.ytd-searchbox {
	border-radius: var(--roundness) !important;
}

/*Videos*/
.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-interrupting, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen {
	background: transparent;
}
ytd-watch:not([transparent-player-background_]) #player-container.ytd-watch, ytd-watch[flexy-fit-to-video_]:not([is-currently-flexible_]) #player-container.ytd-watch, ytd-watch[theater] #player-container.ytd-watch {
	background-color: var(--transparency-darker);
}
#player, #player-container, .html5-video-container, .html5-main-video, .ytp-chrome-controls {
	border-radius: var(--roundness) !important;
}
#player {
	margin-bottom: 10px;
}
.ytp-gradient-bottom {
	display: none
}
ytd-video-primary-info-renderer, ytd-video-secondary-info-renderer, #placeholder-area.ytd-comment-simplebox-renderer {
	border-bottom: none;
}
#info-contents {
	background-color: var(--transparency);
	border-radius: var(--roundness) var(--roundness) 0 0;
	padding: 10px;
	padding-top: 0;
}
#meta-contents {
	border-radius: 0 0 var(--roundness) var(--roundness);
	background-color: var(--transparency);
	padding: 10px;
	padding-top: 0;
}
#info, #comments {
	margin-top: 10px;
}
ytd-watch[theater] #pla-shelf.ytd-watch > *.ytd-watch, ytd-watch[theater] #info.ytd-watch > *.ytd-watch, ytd-watch[theater] #meta.ytd-watch > *.ytd-watch, ytd-watch[theater] #ticket-shelf.ytd-watch > *.ytd-watch, ytd-watch[theater] #clarify-box.ytd-watch > *.ytd-watch, ytd-watch[theater] #comments.ytd-watch > *.ytd-watch {
	margin-right: 0px;
}

/*Comments*/
.ytd-comments {
	background-color: var(--transparency) !important;
	padding: 2px 10px;
	margin-right: 0 !important;
}
ytd-comment-renderer {
	margin-top: 10px;
}
.ytd-comments #header {
	margin-top: -10px;
}

/*Related videos*/
#related {
	margin-top: -10px;
}
@media (max-width: 999px) {
 #related {
	margin-top: 10px;
}
}
@media (max-width: 999px) {
ytd-watch[theater] #related, ytd-watch[theater] #chat, ytd-watch[theater] #playlist, ytd-watch[theater] #transcript {
	margin-top: 10px !important;
	margin-left: 0px;
}
}
ytd-watch-next-secondary-results-renderer {
	background-color: var(--transparency);
	padding: 10px;
	border-radius: var(--roundness)
}

/*Channels*/
ytd-c4-tabbed-header-renderer {
	--yt-lightsource-section1-color: var(--transparency-dark);
	margin: 10px;
}
#primary-links.ytd-c4-tabbed-header-renderer, #secondary-links.ytd-c4-tabbed-header-renderer {
	margin: 0 0 0 4px;
	border-radius: var(--roundness);
}
#links-holder {
	margin-top: 150px;
	margin-right: 40px;
}
ytd-c4-tabbed-header-renderer[has-channel-art] .banner-visible-area.ytd-c4-tabbed-header-renderer {
	height: 100% !important;
}
#background {
	filter: blur(.15em);
	margin: .05em;
}

/*Menus*/
ytd-multi-page-menu-renderer {
	border-radius: var(--roundness) !important;
}

/*Buttons*/
ytd-button-renderer[is-paper-button], paper-button, paper-button.ytd-subscribe-button-renderer, paper-button[subscribed].ytd-subscribe-button-renderer, #cancel-button.ytd-commentbox, #submit-button.ytd-commentbox {
	border-radius: var(--roundness);
}

/*YouTube Legacy / Material Design*/
body {
	background: var(--background);
}
body #footer-container {
	background-color: transparent;
	border-top: none;
}
#yt-masthead-container {
	background: var(--transparency);
	border-bottom: none;
}
#yt-masthead #logo-container span.content-region {
	display: none;
}
#appbar-guide-menu, .guide-flyout {
	background: var(--transparency);
}
.yt-card {
	background: var(--transparency);
	border-radius: var(--roundness);
}
#footer-main {
	border-bottom: none;
}
#footer-logo, .logo {
	filter: invert(1) hue-rotate(180deg) saturate(10);
}
.yt-uix-button-icon-wrapper, .yt-help-icon {
	filter: invert(1);
}
p,
h4,
.guide-item,
.upload-sidebar-header,
.metadata-share-text,
#loading-message, #upload-hub-privacy-settings,
.upload-informational-footer, #upload-drag-drop-description {
	color: #bbb;
}
#footer-links-primary a,
#upload-button-text,
.yt-alert-naked .yt-alert-content,
.tabs .tab-header>span,
.tabs .tab-header a,
.metadata-thumbnail-chooser h3,
.metadata-container h3,
.upload-other-options-list .upload-option-text,
.upload-other-options-list .upload-option-deprecation-warning {
	color: #ccc;
}
label,
.yt-uix-button-menu .yt-uix-button-menu-item {
	color: #ddd;
}
.yt-uix-button,
.yt-uix-button-default>not(#start-upload-button-single),
.yt-uix-button-default[disabled],
.yt-uix-button-default[disabled]:hover,
.yt-uix-button-default[disabled]:active,
.yt-uix-button-default[disabled]:focus,
#footer .yt-uix-button-group .yt-uix-button {
	border-color: transparent !important;
	background: var(--transparency) !important;
	border-radius: var(--roundness);
	color: #ddd;
}
.yt-uix-form-input-select, .yt-uix-form-input-text, .yt-uix-form-input-textarea {
	border: none;
}
.yt-uix-button-menu {
	border-color: transparent;
	background: var(--transparency-dark);
	border-radius: var(--roundness)
}
.upload-item {
	background: var(--transparency);
	border-radius: var(--roundness);
	border: none;
}
.upload-thumb, .video-thumb {
	border-radius: var(--roundness);
	border: none;
	background: none;
	box-shadow: none;
}
.metadata-container,
.metadata-editor-container .video-settings-form {
	background: transparent;
}
.video-settings-add-tag {
	background: var(--transparency);
	border-radius: var(--roundness);
	padding: 10px !important;
	color: #fff;
}
.yt-chip {
	color: #fff;
	border-radius: var(--roundness);
	border: 1px solid var(--accent-color);
	box-shadow: none;
}
yt-uix-form-input-radio-element,
.yt-uix-form-input-checkbox-element {
	border: 1px solid #aaa;
	border-radius: var(--roundness);
}
.yt-uix-form-input-checkbox-container input:checked+.yt-uix-form-input-checkbox-element {
	border: 1px solid var(--accent-color);
	border-radius: var(--roundness);
}

.yt-uix-form-input-radio-container input:focus+.yt-uix-form-input-radio-element,
.yt-uix-form-input-checkbox-container input:focus+.yt-uix-form-input-checkbox-element {
	border: 1px solid #888;
}

/*YouTube Light theme*/
html:not([style-scope]):not(.style-scope) {
	--yt-primary-color: white;
	--yt-primary-text-color: white;
	--yt-hovered-text-color: hsl(0, 0%, 100%);
	--yt-secondary-text-color: hsl(0, 0%, 100%);
	--yt-tertiary-text-color: hsl(0, 0%, 100%);
	--yt-disabled-text-color: grey;
	--yt-placeholder-text-color: white;
}
